@charset "UTF-8";

body{
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
        
    }


h1{
    color: green;
    background-color:rgb(0, 0, 0);
    padding:5px;
}

h2{
    color: green;
    text-decoration: underline;

}